# run after user login with X11

# composite manager
picom -b

# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

fcitx &

# keyboard layout
xmodmap ~/.Xmodmap

# disable touchpad
xinput disable 'Elan Touchpad'

# more speed
xinput set-prop 'Elan TrackPoint' 'libinput Accel Speed' 0.5


# set wallpaper
~/.fehbg

# redshift
redshift &
