# run after user login with X11

# composite manager
picom -b

# key repeast
# delay 300 ms
# rate 40 per sec
xset r rate 300 40

# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

fcitx &

# keyboard layout
xmodmap ~/.Xmodmap

# disable touchpad
xinput disable 'Elan Touchpad'

# more speed
xinput set-prop 'Elan TrackPoint' 'libinput Accel Speed' 1.0

# pulseaudio --start

# set DPI
# 13 inch FullHD
xrandr --dpi 75

# set wallpaper
~/.fehbg
